@media only screen and (min-width: 1024px) {
    .lgpd-termo-linha{
        flex-direction: row!important;
    }

    .lgpd-botao{
        a {
            display:inline-block;
            margin:0 0.1em 0.1em 0;
        }
    }


}